.about {
  background-color: #282a3a; /* Background color */
  padding: 4rem 1.5rem;
  height: max-content; /* Allow height to adjust */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
  margin: 40px;
}

/* From Uiverse.io by nikk7007 */
.resume {
  --color: #00a97f;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: var(--font-small);
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.resume::after,
.resume::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.resume::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.resume:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.resume:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.resume:hover {
  color: var(--color2);
}

.resume:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.about h2 {
  line-height: var(--line-height-heading);

  font-family: var(--font-family);

  color: #f0e68c; /* Heading color */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Shadow effect for depth */

  font-size: var(--font-h3); /* Base font size using viewport width */
}

.about h2::first-letter {
  color: white; /* Coloring the first letter of the heading */
}

.about p {
  font-family: var(--font-family);
  font-size: var(--font-p);
  text-wrap: balance;
  text-align: center;
  line-height: 2rem;
}

/* Styles for smaller devices (tablet and below) */
@media screen and (max-width: 768px) {
  .about h2 {
    margin: 2rem auto; /* Adjusted margins */
  }

  .about p {
    width: 95%; /* Adjusted width for better spacing */
  }
}

/* Styles for very small screens (480px and below) */
@media screen and (max-width: 480px) {
  .about {
    margin: 20px;
    height: auto;
    padding: 20px;
  }

  .about h2 {
    text-align: left;
    margin: 1.5rem auto;
  }

  .about p {
    width: 100%;
    text-align: center;
    text-wrap: balance;
    padding: 10px;

    /* width: auto; */
  }
}
