.about {
  background-color: #282a3a; /* Background color */
  padding: 4rem 1.5rem;
  height: max-content; /* Allow height to adjust */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
  margin: 40px;
}

.about h2 {
  line-height: var(--line-height-heading);

  font-family: var(--font-family);

  color: #f0e68c; /* Heading color */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Shadow effect for depth */

  font-size: var(--font-h3); /* Base font size using viewport width */
}

.about h2::first-letter {
  color: white; /* Coloring the first letter of the heading */
}

.about p {
  font-family: var(--font-family);
  font-size: var(--font-p);
  text-wrap: balance;
  text-align: center;
  line-height: 2rem;
}

/* Styles for smaller devices (tablet and below) */
@media screen and (max-width: 768px) {
  .about h2 {
    margin: 2rem auto; /* Adjusted margins */
  }

  .about p {
    width: 95%; /* Adjusted width for better spacing */
  }
}

/* Styles for very small screens (480px and below) */
@media screen and (max-width: 480px) {
  .about {
    margin: 20px;
    height: auto;
    padding: 20px;
  }

  .about h2 {
    text-align: left;
    margin: 1.5rem auto;
  }

  .about p {
    width: 100%;
    text-align: center;
    text-wrap: balance;
    padding: 10px;

    /* width: auto; */
  }
}
