#certificates {
  margin: 40px;
  padding: 40px;
  background-color: #282a3a;
  height: max-content;
}

#certificates h2 {
  text-align: left;
  /* margin-left: 40px; */
  font-size: var(--font-h3);
  margin-bottom: 40px;
  color: #f0e68c;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  font-family: var(--font-family);
  text-transform: uppercase;
  /* letter-spacing: 2px; */
}

#certificates h2::first-letter {
  color: goldenrod;
}

.certificate-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

.certificate {
  background-color: white;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  text-align: left;
}

.certificate:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.certificates-details {
  padding: 20px;
}

.certificates-details h3 {
  font-size: var(--font-h3);
  color: #333;
  width: auto;
  margin-bottom: 10px;
}

.certificates-details a {
  text-decoration: none;
  color: goldenrod;
}

.certificates-details a:hover {
  text-decoration: underline;
}

.certificates-details p {
  font-size: var(--font-p);
  color: #666;
  line-height: 1.6;
  text-align: left;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  #certificates {
    /* padding: 20px; */
    margin: 20px;
    /* margin-top: 200px; */
  }

  #certificates h2 {
    font-size: var(--font-h3);
  }

  .certificate-container {
    flex-direction: column; /* Stack certificates vertically */
    align-items: center; /* Center align */
  }

  .certificate {
    width: 90%; /* Full width for certificates */
  }

  .certificates-details h3 {
    font-size: 1rem; /* Smaller font size for headings */
  }

  .certificates-details p {
    font-size: 0.9rem; /* Smaller font size for paragraphs */
    text-align: left; /* Left align for consistency */
  }
}

/* Smaller devices */
@media (max-width: 480px) {
  #certificates {
    margin: 20px;
    padding: 20px;
    /* margin-top: 200px; */
  }

  #certificates h2 {
    text-align: left;
    /* margin-left: 20px; */
    font-size: var(--font-h3); /* Smaller heading size for very small screens */
  }

  .certificate {
    width: 100%; /* Make certificates full width */
    margin-bottom: 15px; /* Add space between stacked certificates */
  }

  .certificates-details h3 {
    font-size: var(--font-h3); /* Smaller font size for headings */
  }

  .certificates-details p {
    font-size: var(--font-p); /* Smaller font size for paragraphs */
  }
}
