.education {
  margin: 40px;
  padding: 40px;
  background-color: #282a3a;
  height: auto; /* Allowing height to adjust automatically */
}

.education h2 {
  color: #f0e68c;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  max-width: 18rem; /* Limiting the width for better alignment */
  text-align: left; /* Align text to the start */
  /* margin-left: 40px; */

  font-size: var(--font-h3);
}

.education h2::first-letter {
  color: white; /* Coloring the first letter */
}

.education-item {
  text-align: start; /* Left-aligning text */
  margin: 50px auto; /* Centering with top and bottom margin */
  width: 80%; /* Base width */
}

.education h3 {
  font-size: var(--font-h3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adding shadow for depth */
  color: #e6e6e6; /* Heading color */
  text-align: left; /* Left-aligning headings */
  margin-left: 100px; /* Indent from the left */
  margin-bottom: 0; /* No bottom margin */
}

.education p {
  font-size: var(--font-p);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  color: #e6e6e6; /* Paragraph color */
  text-align: left; /* Left-aligning text */
  margin-left: 100px; /* Indent from the left */
  max-width: 800px; /* Limiting max width for readability */
  margin-top: 20px; /* Space above the paragraph */
  line-height: 2rem; /* Line height for readability */
}

.education h4 {
  font-size: var(--font-small);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  color: #e6e6e6; /* Sub-heading color */
  text-align: left; /* Left-aligning text */
  margin-left: 100px; /* Indent from the left */
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .education h2 {
    font-size: 1.6rem; /* Adjusting font size for mobile */
  }
  .education h3,
  .education p,
  .education h4 {
    font-size: 1rem; /* Uniform font size for better readability */
    padding-left: 0;
    text-align: left; /* Ensuring left alignment */
  }
  .education-item {
    width: 95%; /* Making items take more width on mobile */
    margin: 30px auto; /* Centering with auto margins */
  }
}

/* Smaller devices */
@media (max-width: 480px) {
  .education {
    /* margin: 10px; */
    margin: 0;
    /* padding: 0; */
    /* text-align: left; */
  }
  .education h2 {
    /* margin: 20px; */
    max-width: 200px;
    /* margin-left: 20px; */
    font-size: var(--font-h3);
    text-align: left;
  }
  .education h3 {
    font-size: var(--font-h3);
    margin-left: 20px;
  }
  .education p {
    /* text-wrap: balance; */
    width: 100%;
    margin-left: 20px;
  }
  .education h4 {
    margin-left: 20px; /* Reduce left indent */
  }
  .education-item {
    margin: 40px auto;
    width: 100%; /* Full width for items */
  }
}
