footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95px;
  background-color: #333; /* Background color */
  color: white; /* Text color */
}

footer p {
  font-size: 1rem; /* Base font size */
  margin: 0; /* Remove default margin */
}

/* Responsive Padding and Font Size for Footer */
@media (max-width: 768px) {
  footer {
  }

  footer p {
    font-size: 0.95rem; /* Slightly smaller font size for better fit */
  }
}

@media (max-width: 480px) {
  footer {
  }

  footer p {
    font-size: var(--font-p); /* Smaller font size for very small screens */
  }
}
