.about {
  background-color: #282a3a;
  padding: 50px 20px;
  height: auto;
}

.about h2 {
  color: #f0e68c;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);

  max-width: 18rem;

  text-align: start;

  margin: 3rem auto auto 3rem;
  font-size: 2rem;
}

.about h2::first-letter {
  color: white;
}

.about p {
  /* max-width: 600px; */
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  /* font-weight: <weight>; */
  font-style: normal;
  margin: 60px auto;
  font-size: 1.2rem;
  line-height: 2;
  text-align: start;
  color: #e6e6e6;
  width: 80%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-content: center; */
}

/* Mobile Styles for smaller screens 480px and below */
@media screen and (max-width: 480px) {
  .about {
    padding: 20px 5px;
  }

  .about h2 {
    font-size: 1.4rem; /* Smaller heading for very small screens */
    margin: 1.5rem auto; /* Adjust margin */
    text-align: center; /* Keep heading centered */
  }

  .about p {
    font-size: 0.9rem; /* Further reduce font size */
    width: 90%; /* Maximize width */
    /* margin: 30px auto; */
    text-align: justify; /* Keep text justified */
  }
}
