#certificates {
  padding: 50px;
  /* color: white; */
  background-color: #282a3a;
  text-align: center;
}

#certificates h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #f0e68c;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#certificates h2::first-letter {
  color: goldenrod;
}
.certificate-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

.certificate {
  background-color: white;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  text-align: left;
}

/* .certificate img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
} */

.certificate:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.certificates-details {
  padding: 20px;
}

.certificates-details h3 {
  font-size: 1.2rem;
  color: #333;
  max-width: 15rem;
  margin-bottom: 10px;
}

.certificates-details a {
  text-decoration: none;
  color: goldenrod;
}

.certificates-details a:hover {
  text-decoration: underline;
}

.certificates-details p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 768px) {
  .certificate-container {
    flex-direction: column;
    align-items: center;
  }

  .certificate {
    width: 90%;
  }
}

/* Adjustments for very small screens (below 480px) */
@media (max-width: 480px) {
  #certificates {
    padding: 20px;
  }

  #certificates h2 {
    font-size: 1.8rem;
  }

  .certificate {
    width: 93%;
  }

  .certificates-details h3 {
    font-size: 1rem;
  }

  .certificates-details p {
    font-size: 0.9rem;
    text-align: left;
  }
}
